<footer class="row text-center">
	<div class="col-md-offset-4 col-md-4">
		<span> Projet Technologie XML M1 MIAGE 2015/2016, encadr&eacute; par <strong>Phillipe Poulard</strong></span><br/>
		<span> 
			<p>
				Réalisé par 
				<strong>Cl&eacute;mence Chauvet</strong>, 
				<strong>Sacha Cochin</strong>, 
				<strong>Romain Delas</strong> et 
				<strong>R&eacute;mi Kaeffer</strong>
			</p>
		</span>
	</div>
	<div class="col-md-4" style="text-align: right;">
		
		<span style="margin-left: 5px;"><img src="images/uns.png" alt="logo de l'université de Nice"></span>
		<span><img src="images/miage.jpg" alt="logo de la Miage"></span>


	</div>
</footer>