<!DOCTYPE html>
<html ng-app="etablissementSuperieurApp" ng-controller="etablissementSuperieurCtrl" ng-init="getData();" >
<head>
	<title>Projet XML</title>
	{{>head}}
</head>

<body>
	{{>header}}

	{{{ body }}}

	{{>footer}}
</body>

	<!-- JQuery -->
	<script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>

	<!-- Angular + modules-->
	<script type="text/javascript" src="/js/lib/angular-1.4.8/angular.js"></script>
	<script type="text/javascript" src="/js/lib/angular-1.4.8/angular-animate.min.js"></script>
	<script type="text/javascript" src="/js/lib/angular-1.4.8/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/lib/angular-1.4.8/angular-aria.min.js"></script>
	<script type="text/javascript" src="/js/lib/angular-1.4.8/angular-messages.min.js"></script>
	<script type="text/javascript" src="/js/lib/angular-material.js"></script>
	<script type="text/javascript" src="/js/lib/assets-cache.js"></script>
	

	<!-- JS Bootstrap -->
	<script type="text/javascript" src="js/lib/ui-bootstrap-tpls-0.14.3.min.js"></script>
	<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>

	<!-- Angular multiselect -->
	<script type="text/javascript" src="js/lib/isteven-multi-select.js"></script>

	<!-- Angular Google Maps -->
	<script type="text/javascript" src="/js/lib/lodash.min.js"></script>
	<script type="text/javascript" src="/js/lib/angular-simple-logger.js"></script>

	<script type="text/javascript" src='http://maps.googleapis.com/maps/api/js'></script>
	<script type="text/javascript" src="/js/lib/angular-google-maps.min.js"></script>
	<!-- END Angular Google Maps -->

	<!-- App Angular-->
	<script type="text/javascript" src="/js/app.js"></script>

	<!-- Controller Angular -->
	<script type="text/javascript" src="/js/controllers/etablissementSuperieurCtrl.js"></script>

	<!-- Script js -->
	<script type="text/javascript" src="/js/script.js"></script>
	<script type="text/javascript" src="/js/graphics.js"></script>

</html>