<!-- LIGNE DE BOUTONS -->

<div class="row" id="button-line">
	<div class="container">
		<div class="col-md-offset-2 col-md-2">
			<button style="background-color: #77CCDF;" class="btn btn-lg btn-option" type="button" data-toggle="collapse" data-target="#collapseRechercher" aria-expanded="false" aria-controls="collapseRechercher">
				<span style="font-size: 25px;" class="glyphicon glyphicon-search"></span>
				Rechercher
			</button>
		</div>
		<div class="col-md-2">
			<button style="background-color: #D3EBEB;" class="btn btn-lg btn-option" type="button" data-toggle="collapse" data-target="#collapseTrier" aria-expanded="false" aria-controls="collapseTrier">
				<span style="font-size: 25px;" class="glyphicon glyphicon-sort-by-alphabet"></span>
				Trier
			</button>
		</div>
		<div class="col-md-2" style="text-align: center;">
			<button style="background-color: #77CCDF;" class="btn btn-lg btn-option" ng-click="isCollapsed = !isCollapsed" >
				<span style="font-size: 25px;" class="glyphicon glyphicon-home"></span>
				Localiser
			</button>
		</div>
		<div class="col-md-2">
			<button style="background-color: #D3EBEB;" class="btn btn-lg btn-option" type="button" data-toggle="collapse" data-target="#collapseExporter" aria-expanded="false" aria-controls="collapseExporter">
				<span style="font-size: 25px;" class="glyphicon glyphicon-share-alt"></span>
				Exporter
			</button>
		</div>
	</div>
</div>

<!-- ACTION BOUTONS COLLAPSES -->

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		
		<div class="collapse" id="collapseRechercher">
			<div class="well">
				<fieldset>
					<legend>Recherche : </legend>

					<label>Critère de recherche :</label>
					<span
						isteven-multi-select
						input-model="dynamic_data"
						output-model="output_data"
						button-label="name"
						item-label="name"
						tick-property="ticked"
						disable-property="disabled"
						group-property="msGroup"
						on-item-click="fClick(data)"
						on-select-none="fSelectNone()"
						on-reset="fReset()"
						on-clear="fClear()"
						on-search-change="fSearchChange(data)"
						></span>
					<button class="btn btn-primary" type="submit" ng-click="filterData()"/>
						Envoyer
					</button>
				</fieldset>
			</div>
		</div>

		<div class="collapse" id="collapseTrier">
			<div class="well">
				<form class="form-inline">
					<fieldset>
						<span>
							<legend>Tri :</legend>
						</span>

						<div class="form-group">
							<label for="colonnesAffichees">Colonnes affichées :</label>
							<span name="colonnesAffichees" 
								isteven-multi-select
								input-model="all_collumns"
								output-model="output_collumns"
								button-label="name"
								item-label="name"
								tick-property="ticked">
							</span>
						</div>

						<div class="form-group">
							<label for="in_orderBy">Trier par : </label>
							<select name="in_orderBy" class="form-control" ng-model="orderBy" ng-change="getData();">
								<option value="\{{ colonne.name }}" ng-repeat="colonne in all_collumns">
									\{{ colonne.label }}
								</option>
							</select>
						</div>
						
						<div class="form-group">
							<label for="in_nbItemPerPage">Nombre d'item par page : </label>
							<select name="in_nbItemPerPage" class="form-control" ng-model="nbItemPerPage" ng-change="getData();">
								<option value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
								<option value="200">200</option>
							</select>
						</div>
					</fieldset>
				</form>
			</div>
		</div>

		<div class="collapse" id="collapseExporter">
			<div class="well">
				<fieldset>
					<legend>Export : </legend>
					<div class="row">
						<div class="col-md-3 col-md-offset-3">
							<a class="btn btn-primary" href="/export/json" target="blank" style="margin-bottom: 15px;">
								<span class="glyphicon glyphicon-download"></span>
								Exporter en json
							</a>
							<br>
							<a class="btn btn-primary" href="/export/xml" target="blank">
								<span class="glyphicon glyphicon-download"></span>
								Exporter en xml
							</a>
						</div>
						<div class="col-md-3 text-center">
							<form target="_blank" method="POST" action="/graph" class="" role="form">
								<div class="form-group">
									<label for="critere">Faire un graphe sur : </label>
									<select id="critere" name="critere" class="form-control">
										<option ng-repeat="colonne in all_collumns" ng-if="colonne.name != 'lien' && colonne.name != 'UAI' && colonne.name != 'nom'">\{{ colonne.label }}</option>
									</select>
								</div>
								<div class="form-group">
									<label for="sorting">Trier</label>
									<input type="checkbox" name="sorting" value="sort"/>
									<input type="hidden" name="filtering" ng-value="filtersStr"/>
								</div>
								<div class="form-group">
									<button class="btn btn-primary" id="submit-graph" type="submit" class="form-control">
										<span class="glyphicon glyphicon-stats"></span>
										Go
									</button>
								</div>
							</form>
						</div>
					</div>

				</fieldset>
			</div>
		</div>
	</div>
</div>

<!-- MAPS -->
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div id="mapCanvas" uib-collapse="isCollapsed" >
			<ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control" draggable="true" options="options" bounds="map.bounds" refresh="true" pan="true">
				<ui-gmap-markers models="etabMarkers" coords="'self'" icon="'icon'" click="onClick" options="markersOptions" doCluster="true">
				</ui-gmap-markers>
			</ui-gmap-google-map>
		</div>
	</div>
</div>
<!-- PAGINATION HAUT -->
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-6 col-md-offset-2">
			<uib-pagination total-items="nbTotalElem" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-change="getData();" items-per-page="nbItemPerPage"></uib-pagination>
		</div>

		<!-- NOMBRE D ELEMENTS TROUVES HAUT -->

		<div class="col-md-4" style="color: white; margin-top: 35px;">
			<p style="text-align: right;">\{{ listeEtablissement.length }} élément(s) sur \{{ nbTotalElem }} élement(s) trouvé(s)</p>
		</div>
	</div>
</div>

<!-- TABLEAU -->
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="table-responsive">
			<table class="table table-hover table-striped table-bordered">
				<thead>
					<tr>
						<th ng-repeat="colonne in output_collumns">\{{ colonne.label }}</th>
						<th>Plus d'info</th>
					</tr>
				</thead>

				<tbody>
					<tr id="Etab-\{{ listeEtablissement[$index].UAI }}" ng-repeat="etablissement in listeEtablissement track by $index">
						<td ng-repeat="colonne in output_collumns" >
							<a href="\{{ etablissement[colonne.name] }}" target="_blank" ng-if="colonne.name == 'lien' ">
								\{{ etablissement[colonne.name] }}
							</a>
							<p ng-if="colonne.name != 'lien' ">\{{ etablissement[colonne.name] }}</p>
						</td>
						<td style="text-align: center;">
							<a ng-click="showModal(etablissement)" href="#"><span class="glyphicon glyphicon-info-sign"></span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- PAGINATION BAS -->
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-6 col-md-offset-2">
			<uib-pagination total-items="nbTotalElem" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-change="getData();" items-per-page="nbItemPerPage"></uib-pagination>
		</div>

		<!-- NOMBRE D ELEMENTS TROUVES HAUT -->
		<div class="col-md-4">
			<p style="text-align: right; color: white;">\{{ listeEtablissement.length }} élément(s) sur \{{ nbTotalElem }} élement(s) trouvé(s)</p>
		</div>
	</div>
</div>
<!-- MODAL ETABLISSEMENTS LIGNES TABLEAU -->

<script type="text/ng-template" id="modalEtab.html">
	<div class="modal-header">		
		<button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">\{{ mEtab.nom }}</h4>
	</div>
	<div class="modal-body">
		<div ng-repeat="c in colonnes">
			<strong>\{{ c.label }} :</strong> <p ng-if="c.name != 'lien'">\{{ mEtab[c.name] }}</p><a href="\{{ mEtab[c.name] }}" target="_blank" ng-if=" c.name == 'lien'">\{{ mEtab[c.name] }}</a>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()">Close</button>
	</div>
</script>