<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class='page-header' style="color:white;">
			<h2>Génération PDF</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="well col-md-10 col-md-offset-1">
		<legend>
			<h3>Merci d'avoir utilisé notre générateur de PDF !</h3>
		</legend>
		<p class="text-center">Votre PDF est disponible !</p>
		<div class='text-center'>
			<a href='{{link}}'><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-download-alt"></span> Récupérer votre PDF</button></a>
			<a href='/'><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Retour à l'accueil</button></a>
		</div>
	</div>
</div>

