<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class='page-header' style="color:white;">
			<h1>Répartition {{critere}}</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		{{{data}}}
	</div>
</div>
