body, html {
  background-image: url("../images/dark_embroidery.png");
  font-family: 'Open Sans', sans-serif;
}

#main-row {
	border: solid 2px lightgrey;
	border-radius: 10px
}

.angular-google-map-container { 
	height: 400px; 
}

.dropdown a {
  color: #fff;
}

.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown dt a {
  background-color: lightgrey;
  display: block;
  padding: 8px 20px 0px 10px;
  overflow: hidden;
  border: 0;
  width: 100%;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown dd ul {
  background-color: lightgrey;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 100%;
  list-style: none;
  height: 100px;
  overflow: auto;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}

#button-line {
  background-color: #C7C7C7;
  padding: 25px;
  margin-bottom: 15px;
  margin-top: -10px;
}

.btn-option {
  width: 100%;
}
.btn-option span {
  margin: 5px;
}

footer {
  background-color: #C7C7C7;
  padding: 25px;
}

th {
  background-color: #C7C7C7;
  font-size: 25;
}

table {
  background-color: white;
}

header {
  text-align: center;
  background-color: #C7C7C7;
}

header h1 {
  font-size: 70px;
}